.login {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a3e635;
  opacity: 85% ; 
}

/* .login h3 {
  font-size: 4.5rem;
  margin-top: 20px;
  color: #000;
  font-weight: bold;
  padding: 15px 0;
} */

.login form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.login form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  border: 0 0 1px 0;
}

.login form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 0.99rem;
  color: #000;
  background: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

.login form button:hover {
  background: #000;
  color: #fff;
}
