.splashscreen-container {
  display: grid;
  grid-template-columns: 70% 30% 70%;
  width: 60%;
  margin: 100px auto auto auto;
  overflow: hidden;
  transition: 0.3s linear;
  background-color: #c9d1cb;
  border-radius: 15px;
}

.splash-h1 {
  font-weight: bold;
  background-image: url(../assets/lemon.jpg);
  background-position: bottom;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 50px;
}

.splashscreen-container.active {
  grid-template-columns: 0 30% 70%;
  transition: 0.3s linear;
}

.splashscreen-container .side-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/bike.png);
  background-size: cover;
  background-position: center;
}

.splashscreen-container .side-div button {
  padding: 10px 20px;
  background-color: #a3e635;
  color: #000;
  cursor: pointer;
  font-size: 0.99rem;
  transition: 0.3s linear;
}

.splashscreen-container .side-div div:hover {
  background-color: rgb(73, 70, 70);
}
