$orange: hsl(47, 100%, 50%);
$green: hsl(74, 85%, 41%);
$black: hsl(0, 0%, 6%);
$light-gray: hsl(0, 0%, 96%);
$dark-gray: hsl(0, 0%, 62%);
$white: hsl(0, 0%, 100%);
$lime: hsl(178, 84%, 40%);

.button {
  background-color: $green;
  color: $white;
  border: none;
  border-radius: 5em;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: 700;
}
