@import 'design';

.filler-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: 600;
  aspect-ratio: square;
  
}

.gray {
  background-color: $dark-gray;
  
}

.orange {
  background-color: $orange;
  
}

.green {
  background-color: $green;
  
}

.black {
  background-color: $black;
  
}

.lime {
  background-color: $lime;
  
}
