.signup {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #a3e635;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* .signup form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
} */

.signup .btn {
  width: 50%;
  padding: 6px;
  border: 2px solid #a3e635;
  border-radius: 5%;
  margin: 5px;
}

.signup form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #a3e635;
  border-radius: 5px;
  margin-top: 7px;
  font-size: 0.99rem;
  color: #000;
  background: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

.signup form button {
  margin-bottom: 15px;
}

.signup form button:hover {
  background: #000;
  color: #fff;
}
